<ss-navbar></ss-navbar>

<div class="container">
  <div class="actions">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="your share link"/>
    </nz-input-group>
    <button nz-button nzType="primary">
      <nz-icon nzType="plus-square" nzTheme="outline"/>
      Add To Share
    </button>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSearch>
        <nz-icon nzType="copy" nzTheme="outline"/>
        Copy
      </button>
    </ng-template>
  </div>

  <div class="main">
    <div class="sidebar">
      <ng-container *ngFor="let item of items">
        <ss-share-item-card
          [item]="item"
          [selected]="item === selectedItem"
          (click)="select(item)">
        </ss-share-item-card>
      </ng-container>
    </div>
    <div class="content">
      <ng-container *ngIf="!selectedItem">
        <div class="empty">
          <div>
            👋 Nothing selected yet!
          </div>
          <div>
            Click an item from the list to see details here.
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedItem">
        <div>World</div>
      </ng-container>
    </div>
  </div>
</div>
