<ss-navbar></ss-navbar>

<div class="container">
  <div class="share-row">
    <input type="text" nz-input readonly [value]="shareLink"/>

    <div class="share-buttons">
      <button nz-button nzType="primary" nzSearch (click)="copyShareLink()">
        <nz-icon nzType="link" nzTheme="outline"/>
        Copy Share Link
      </button>
      <button nz-button nzType="primary" (click)="showAdderModal()">
        <nz-icon nzType="plus-square" nzTheme="outline"/>
        Add To Share
      </button>
    </div>
  </div>

  <div class="main">
    <div class="sidebar">
      <ng-container *ngIf="items.length === 0">
        <div class="empty-sidebar">
          <div class="empty-message">
            <nz-icon nzType="inbox" nzTheme="outline" class="empty-icon"></nz-icon>
            <div>No items yet</div>
            <div class="empty-subtext">Click "Add To Share" to get started</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of items">
        <ss-share-item-card
          [item]="item"
          [selected]="item === selectedItem"
          (click)="select(item)">
        </ss-share-item-card>
      </ng-container>
    </div>
    <div class="content desktop-only">
      <ng-container *ngIf="!selectedItem">
        <div class="empty">
          <div>
            👋 Nothing selected yet!
          </div>
          <div>
            Click an item from the list to see details here.
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedItem">
        <div class="item-actions">
          <button *ngIf="isSelectedItemAFile()" nz-button nzType="dashed" nzSize="default" nzShape="circle"
                  (click)="downloadFIle()">
            <nz-icon nzType="download"/>
          </button>
          <button *ngIf="!isDocument()" nz-button nzType="dashed" nzSize="default" nzShape="circle"
                  (click)="copyToClipboard()">
            <nz-icon nzType="copy" nzTheme="twotone" nzTwotoneColor="#52c41a"/>
          </button>
          <button nz-button nzType="dashed" nzSize="default" nzShape="circle"
                  nz-popconfirm nzPopconfirmPlacement="bottomRight"
                  nzPopconfirmTitle="Are you sure you want to delete this item?" (nzOnConfirm)="deleteItem()">
            <nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ff4d4f"/>
          </button>
        </div>
        <div class="item-content">
          <div class="file-display">
            <ng-container *ngIf="isLink()">
              <div class="link-content">
                <div class="link-icon">
                  <img class="icon" src="/icons/hyperlink.png"/>
                </div>
                <div class="link-info">
                  <a target="_blank" href="{{ selectedItem.url }}">{{ selectedItem.url }} </a>
                  <div class="warning">
                    If clicked, this link will open in a new tab. Exercise caution when visiting unfamiliar links
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isText()">
              <div class="text-content" [innerHTML]="selectedItem.content"></div>
            </ng-container>
            <ng-container *ngIf="isDocument()">
              <div class="file-header">
                <div class="file-icon">{{ selectedItem.metadata.extension }}</div>
                <div class="file-main-info">
                  <h3>{{ selectedItem.metadata.name }}</h3>
                  <div class="file-subinfo">
                    <span>{{ selectedItem.metadata.sizeInBytes | filesize }}</span>
                    <span>•</span>
                    <span>{{ selectedItem.metadata.mimeType }}</span>
                    <span>•</span>
                    <span>Expires {{ selectedItem.expiresAt | date:'mediumDate' }}</span>
                  </div>
                </div>
              </div>

              <div class="file-details">
                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">File ID</span>
                    <span class="value">{{ selectedItem.id }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.source">
                    <span class="label">Source</span>
                    <span class="value">{{ selectedItem.source }}</span>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">Last Updated</span>
                    <span class="value">{{ selectedItem.updatedAt | date:'mediumDate' }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.appVersion">
                    <span class="label">App Version</span>
                    <span class="value">{{ selectedItem.appVersion }}</span>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item" *ngIf="selectedItem.metadata.checksum">
                    <span class="label">Checksum</span>
                    <span class="value">{{ selectedItem.metadata.checksum }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.deviceName">
                    <span class="label">Device</span>
                    <span class="value">{{ selectedItem.deviceName }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isImage()">
              <div class="file-header">
                <div class="file-icon">{{ selectedItem.metadata.extension }}</div>
                <div class="file-main-info">
                  <h3>{{ selectedItem.metadata.name }}</h3>
                  <div class="file-subinfo">
                    <span>{{ selectedItem.metadata.sizeInBytes | filesize }}</span>
                    <span>•</span>
                    <span>{{ selectedItem.metadata.mimeType }}</span>
                    <span>•</span>
                    <span>Expires {{ selectedItem.expiresAt | date:'mediumDate' }}</span>
                  </div>
                </div>
              </div>

              <div class="file-details">
                <div class="detail-group">
                  <div class="detail-item">
                    <img #sharedImage [src]="selectedItem.url" crossorigin="anonymous"/>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">File ID</span>
                    <span class="value">{{ selectedItem.id }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.metadata.checksum">
                    <span class="label">Checksum</span>
                    <span class="value">{{ selectedItem.metadata.checksum }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.source">
                    <span class="label">Source</span>
                    <span class="value">{{ selectedItem.source }}</span>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">Last Updated</span>
                    <span class="value">{{ selectedItem.updatedAt | date:'mediumDate' }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.appVersion">
                    <span class="label">App Version</span>
                    <span class="value">{{ selectedItem.appVersion }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.deviceName">
                    <span class="label">Device</span>
                    <span class="value">{{ selectedItem.deviceName }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<nz-modal nzWidth="50rem" [(nzVisible)]="isAdderModalVisible">
  <ng-container *nzModalContent>
    <div style="width: 100%; text-align: center; margin-top: 0.2rem;">
      <ss-sections>
        <ss-section title="Links">
          <input nz-input
                 placeholder="input the URL to be shared"
                 [(ngModel)]="sharedUrl"
                 (keyup)="validateSharedUrl()"/>

          <button nz-button
                  nzType="primary"
                  class="button-spacer"
                  [disabled]="!isSharedUrlValid"
                  (click)="createLinkShare()">
            Share Links
          </button>
        </ss-section>

        <ss-section title="Text">
          <ss-text-share
            (htmlChange)="validateSharedText($event)"
          ></ss-text-share>

          <button nz-button
                  nzType="primary"
                  class="button-spacer"
                  [disabled]="!isSharedTextValid"
                  (click)="createTextShare()">
            Share Text
          </button>
        </ss-section>

        <ss-section title="Images">
          <div>
            <ss-image-paste-select (imageSelected)="imageSelected($event)"></ss-image-paste-select>
          </div>

          <button nz-button
                  nzType="primary"
                  class="button-spacer"
                  [disabled]="!isSharedImageValid"
                  (click)="createImageShare()">
            Share Image
          </button>
        </ss-section>

        <ss-section title="Documents">
          <nz-input-group nzSearch [nzAddOnAfter]="filePickerButton">
            <input nz-input readonly class="selected-file-display" type="text" placeholder="Select a file"
                   [value]="sharedDocument?.name"/>
            <input #fileInput class="hidden-file-input" type="file"
                   accept=".pdf,.doc,.docx,.txt,.rtf,.xlsx,.xls,.odt,.pptx,.ppt,.md"
                   (change)="fileChanged($event)"/>
            <ng-template #filePickerButton>
              <button nz-button nzSearch (click)="fileInput.click()">
                <nz-icon nzType="paper-clip"></nz-icon>
              </button>
            </ng-template>
          </nz-input-group>

          <button nz-button
                  nzType="primary"
                  class="button-spacer"
                  [disabled]="!isSharedDocumentValid"
                  (click)="createDocumentShare()">
            Share Document
          </button>
        </ss-section>
      </ss-sections>
    </div>
  </ng-container>


  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="dismissAdderModal()">Dismiss</button>
  </ng-container>
</nz-modal>

<nz-modal nzWidth="100%" [(nzVisible)]="isMobileContentModalVisible" [nzFooter]="null"
          (nzOnCancel)="closeMobileModal()">
  <ng-container *nzModalContent>
    <div class="mobile-content">
      <ng-container *ngIf="selectedItem">
        <div class="item-actions">
          <button *ngIf="isSelectedItemAFile()" nz-button nzType="dashed" nzSize="default" nzShape="circle"
                  (click)="downloadFIle()">
            <nz-icon nzType="download"/>
          </button>
          <button *ngIf="!isDocument()" nz-button nzType="dashed" nzSize="default" nzShape="circle"
                  (click)="copyToClipboard()">
            <nz-icon nzType="copy" nzTheme="twotone" nzTwotoneColor="#52c41a"/>
          </button>
          <button nz-button nzType="dashed" nzSize="default" nzShape="circle"
                  nz-popconfirm nzPopconfirmPlacement="bottomRight"
                  nzPopconfirmTitle="Are you sure you want to delete this item?" (nzOnConfirm)="deleteItem()">
            <nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ff4d4f"/>
          </button>
        </div>
        <div class="item-content">
          <div class="file-display">
            <ng-container *ngIf="isLink()">
              <div class="link-content">
                <div class="link-icon">
                  <img class="icon" src="/icons/hyperlink.png"/>
                </div>
                <div class="link-info">
                  <a target="_blank" href="{{ selectedItem.url }}">{{ selectedItem.url }} </a>
                  <div class="warning">
                    If clicked, this link will open in a new tab. Exercise caution when visiting links
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isText()">
              <div class="text-content" [innerHTML]="selectedItem.content"></div>
            </ng-container>
            <ng-container *ngIf="isDocument()">
              <div class="file-header">
                <div class="file-icon">{{ selectedItem.metadata.extension }}</div>
                <div class="file-main-info">
                  <h3>{{ selectedItem.metadata.name }}</h3>
                  <div class="file-subinfo">
                    <span>{{ selectedItem.metadata.sizeInBytes | filesize }}</span>
                    <span>•</span>
                    <span>{{ selectedItem.metadata.mimeType }}</span>
                    <span>•</span>
                    <span>Expires {{ selectedItem.expiresAt | date:'mediumDate' }}</span>
                  </div>
                </div>
              </div>

              <div class="file-details">
                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">File ID</span>
                    <span class="value">{{ selectedItem.id }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.source">
                    <span class="label">Source</span>
                    <span class="value">{{ selectedItem.source }}</span>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">Last Updated</span>
                    <span class="value">{{ selectedItem.updatedAt | date:'mediumDate' }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.appVersion">
                    <span class="label">App Version</span>
                    <span class="value">{{ selectedItem.appVersion }}</span>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item" *ngIf="selectedItem.metadata.checksum">
                    <span class="label">Checksum</span>
                    <span class="value">{{ selectedItem.metadata.checksum }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.deviceName">
                    <span class="label">Device</span>
                    <span class="value">{{ selectedItem.deviceName }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isImage()">
              <div class="file-header">
                <div class="file-icon">{{ selectedItem.metadata.extension }}</div>
                <div class="file-main-info">
                  <h3>{{ selectedItem.metadata.name }}</h3>
                  <div class="file-subinfo">
                    <span>{{ selectedItem.metadata.sizeInBytes | filesize }}</span>
                    <span>•</span>
                    <span>{{ selectedItem.metadata.mimeType }}</span>
                    <span>•</span>
                    <span>Expires {{ selectedItem.expiresAt | date:'mediumDate' }}</span>
                  </div>
                </div>
              </div>

              <div class="file-details">
                <div class="detail-group">
                  <div class="detail-item">
                    <img #sharedImage [src]="selectedItem.url" crossorigin="anonymous"/>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">File ID</span>
                    <span class="value">{{ selectedItem.id }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.metadata.checksum">
                    <span class="label">Checksum</span>
                    <span class="value">{{ selectedItem.metadata.checksum }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.source">
                    <span class="label">Source</span>
                    <span class="value">{{ selectedItem.source }}</span>
                  </div>
                </div>

                <div class="detail-group">
                  <div class="detail-item">
                    <span class="label">Last Updated</span>
                    <span class="value">{{ selectedItem.updatedAt | date:'mediumDate' }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.appVersion">
                    <span class="label">App Version</span>
                    <span class="value">{{ selectedItem.appVersion }}</span>
                  </div>
                  <div class="detail-item" *ngIf="selectedItem.deviceName">
                    <span class="label">Device</span>
                    <span class="value">{{ selectedItem.deviceName }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</nz-modal>
