<ss-navbar></ss-navbar>

<div class="container">
  <div class="content-wrapper">
    <img src="favicon.ico" class="logo"/>
    <h1 class="title">Seamless Share</h1>
    <div class="sub-title">
      This platform enables you to seamlessly share text, URLs, images, and various other files across all your
      devices without the need to create an account, ensuring quick and convenient access to your important content
      anytime<span>*</span>, anywhere, any device.
    </div>

    <ss-sections>
      <ss-section title="Links">
        <input nz-input
               placeholder="input the URL to be shared"
               [(ngModel)]="sharedUrl"
               (keyup)="validateSharedUrl()"/>

        <button nz-button
                nzType="primary"
                class="button-spacer"
                [disabled]="!isSharedUrlValid"
                (click)="createLinkShare()">
          Share Link
        </button>
      </ss-section>

      <ss-section title="Text">
        <nz-textarea-count
          [nzMaxCharacterCount]="5000">
          <textarea nz-input
                    rows="3"
                    [(ngModel)]="sharedText"
                    (keyup)="validateSharedText()"></textarea>
        </nz-textarea-count>

        <button nz-button
                nzType="primary"
                class="button-spacer"
                [disabled]="!isSharedTextValid"
                (click)="createTextShare()">
          Share Text
        </button>
      </ss-section>

      <ss-section title="Images">
        <div>
          <ss-image-paste-select></ss-image-paste-select>
        </div>
      </ss-section>

      <ss-section title="Documents">
        <nz-input-group nzSearch [nzAddOnAfter]="filePickerButton">
          <input nz-input readonly class="selected-file-display" type="text" placeholder="Select a file"
                 [value]="sharedFile?.name"/>
          <input #fileInput class="hidden-file-input" type="file"
                 accept=".pdf,.doc,.docx,.txt,.rtf,.xlsx,.xls"
                 (change)="fileChanged($event)"/>
          <ng-template #filePickerButton>
            <button nz-button nzSearch (click)="fileInput.click()">
              <nz-icon nzType="paper-clip"></nz-icon>
            </button>
          </ng-template>
        </nz-input-group>

        <button nz-button
                nzType="primary"
                class="button-spacer"
                [disabled]="!isSharedFileValid"
                (click)="createDocumentShare()">
          Share Document
        </button>
      </ss-section>
    </ss-sections>

    <section class="terms-conditions">
      <p class="terms-text">
        If you have an account, your shared content will be available in your account for 30 days.
      </p>
      <p class="terms-text">
        If you share content anonymously, then all shared data will be automatically deleted after 7 days.
      </p>
      <p class="terms-text">
        For anonymous shares, share codes are used to access your data.
      </p>
      <p class="terms-text">
        Since share codes can be shared or guessed, we cannot guarantee that you are the only one accessing the content.
      </p>
    </section>
  </div>
</div>
