/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
}


.button-spacer {
  margin-top: 0.5rem;
}

.hidden-file-input {
  display: none;
}

.selected-file-display {
  cursor: not-allowed;
}
